@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.tab {
    @apply py-2 lg:px-8 px-2 text-white font-bold rounded-md hover:bg-gray-700 transition-all duration-200 ease-in-out;
}

.active-tab {
    @apply bg-gray-100 hover:bg-gray-300 text-black;
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        @apply my-2;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        @apply bg-gray-800 h-4 rounded-full transition-all duration-200 ease-in-out;
    }
    /* hover */
    &::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-700;
    }
}

.hover-transition {
    @apply transition-all duration-200 ease-in-out;
}
